.dockerignore
.gcloudignore
.gitignore
.git
.devcontainer
.vscode
.pytest_cache
tests
__pycache__
*.pyc
*.pyo
*.egg-info/
*.pyd
.db
venv/
.env
Dockerfile
README.md
Makefile
brain
.agent
/home/vscode/.gemini/antigravity/brain
